*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar,.form-header {
  font-family: 'Orbitron', sans-serif;

}

.form-content {
  font-family: 'Mukta', sans-serif;
}

.card-body{
  position : relative;
  overflow: hidden;
}

.productImg {
  transition: all 1s linear;
}
.card-body:hover .productImg{
  transform: scale(1.1);
}
.cartBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%,100%);
  transition: all 0.5s linear;
}

.card-body:hover .cartBtn{
  transform: translate(0,0);
}

